body {
  margin: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
  min-width: 375px;
  min-height: 667px;
  max-width: 430px;
  max-height: 932px;
}
/*  */
header {
  z-index: 25;
  background-color: #67d0d0;

  width: 100%;
  min-width: 375px;
  max-width: 430px;
  height: 125px;

  margin: 0;
  border-bottom: 2px solid black;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
header div img {
  /* background-color: #00000025; */
  margin: 60px 0 0 25px;
  height: 50px;
}
header .h_text {
  /* background-color: #00000025; */
  margin: 60px 25px 0 0;
  height: 50px;
}
header .h_text h1 {
  /* background-color: #00000025; */
  margin: 0;
  font-size: 27px;
  font-weight: lighter;
  text-align: right;
}
header .h_text h2 {
  /* background-color: #00000025; */
  margin: 0;
  font-size: 12px;
  text-align: right;
}

/*  */
main {
  background-color: #107777;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* min-width: 320px; */
  /* min-height: 480px; */
  /* position: relative; */
  margin: 0;
  padding: 15% 0 0 0;

  /*  */
  font-family: "Zen Kaku Gothic New", sans-serif;
  position: relative;
}

/*  */
/* list */
.list {
  margin: 0;
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  border-top: solid 2px #000000;
}
.list .list_background {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  height: 80%;
  position: relative;
}
.list .list_background_title {
  /* background-color: #000000; */
  background-color: #ffffff;
  margin: 0;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border-top: solid 2px #000000;
  border: solid 2px #000000;
  position: absolute;
  top: -50px;
  left: calc(50% - 75px);
}
.list .white {
  margin: 0;
  background-color: #ffffff;
  width: 200px;
  height: 125px;
  position: absolute;
  top: 0px;
  left: calc(50% - 100px);
}
.list .list_background_title_image {
  margin: 0;
  /* background-color: #107777; */
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: calc(50% - 75px);
  text-align: center;
}
.list .list_background_title_image img {
  margin: 0 auto;
  height: 75px;
}
.list .list_background_title_image h1 {
  margin: 0 auto;
  margin-top: 10px;
  font-size: x-large;
}
.list .list_sort {
  /* background-color: #67d0d0; */
  width: 100%;
  height: 175px;

  position: absolute;
  top: 125px;
  /* left: calc(50% - 75px); */
}
.list_sort .sort_back {
  /* background-color: #000000; */
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 5%;
  margin-top: 12px;
  width: 80%;
  height: 150px;
  /* display: flex; */
  /* align-items: center; */
  border: solid 1.5px #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 0 #35aeae;
  text-align: center;
}
.sort_back img {
  margin: 0 auto;
  margin-top: 15px;
  width: 25px;
}
.sort_back .sort_button {
  /* background-color: #000000; */
  margin: 0 auto;
  margin-top: 5px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sort_back button {
  background-color: #ffffff;
  margin: 0;
  height: 35px;
  border: solid 1px #000000;
  border-radius: 5px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: medium;
  font-weight: bold;
  box-shadow: 0px 2px 0 #35aeae;
}
.sort_back button:nth-child(1),
.sort_back button:nth-child(2) {
  /* background-color: #107777; */
  width: 45%;
}
.sort_back button:nth-child(2) {
  margin-left: 10%;
}
.sort_back button:nth-child(4),
.sort_back button:nth-child(5),
.sort_back button:nth-child(6),
.sort_back button:nth-child(7) {
  width: 20%;
}
.sort_back button:nth-child(1),
.sort_back button:nth-child(5) {
  background-color: #d6eded;
  box-shadow: 0 3px 0 #35aeae inset;
}

.list .list_student {
  /* background-color: #35aeae; */
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  height: 250px;
  overflow-y: auto;
  font-size: large;
  font-weight: bold;
}
.list_student::-webkit-scrollbar {
  /* background-color: #000000; */
  width: 15px;
}
.list_student::-webkit-scrollbar-track {
  background-color: #10777733;
  width: 10px;
  border-radius: 10px;
}
.list_student::-webkit-scrollbar-thumb {
  /* background-color: #ffffff; */
  background-color: #35aeae;
  /* border: solid 1px #000000; */
  border-radius: 10px;
}
.list_student table {
  background-color: #ffffff;
  margin: 0 auto;
  width: 80%;
  /* border: solid 1px #107777; */
}
.list_student table tr td {
  /* border: solid 1px #107777; */
  height: 45px;
}
.list_student table tr td:nth-child(1) {
  font-size: xx-large;
  font-weight: bolder;
  color: #35aeae;
}
.list_student table tr td:nth-child(2),
.list_student table tr td:nth-child(3) {
  /* background-color: #d6eded; */
  width: 20%;
  text-align: center;
}
.list_student table tr td:nth-child(4) {
  padding-left: 20px;
}

/*  */
/* join */
.list .join_button {
  /* background-color: #67d0d0; */
  width: 100%;
  height: 50px;

  position: absolute;
  top: 150px;
  display: flex;
  justify-content: space-around;
}
.join_button button {
  background-color: #ffffff;
  width: 20%;
  height: 40px;
  font-size: large;
  border: solid 1px #000000;
  border-radius: 5px;
  box-shadow: 0px 2px 0 #35aeae;
}
.join_button button:nth-child(1) {
  background-color: #d6eded;
  box-shadow: 0 3px 0 #35aeae inset;
}
.join_student {
  /* background-color: #d6eded; */
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  font-size: large;
  font-weight: bold;

  position: absolute;
  top: 200px;
}
.join_student::-webkit-scrollbar {
  /* background-color: #000000; */
  width: 15px;
}
.join_student::-webkit-scrollbar-track {
  background-color: #10777733;
  width: 10px;
  border-radius: 10px;
}
.join_student::-webkit-scrollbar-thumb {
  /* background-color: #ffffff; */
  background-color: #35aeae;
  /* border: solid 1px #000000; */
  border-radius: 10px;
}
.join_student table {
  background-color: #ffffff;
  margin: 0 auto;
  width: 80%;
  /* border: solid 1px #107777; */

  border-spacing: 0px 15px;
}
/* .join_student table tr {
  background-color: #35aeae;
  margin-top: 10px;
} */
.join_student table tr td {
  /* background-color: #000000; */
  background-color: #ffffff;
  margin-top: 10px;
  /* border: solid 10px #10777700; */
  height: 40px;
}
.join_student table tr td:nth-child(1) {
  width: 45px;
  font-size: small;
  text-align: center;
  text-shadow: 2px 0 #fdec91;
}
.join_student table tr td:nth-child(2) {
  text-align: center;
}
.join_student table tr td:nth-child(3) {
  padding-left: 20px;
}
.join_student table tr td:nth-child(4) {
  background-color: #ffffff;
  width: 40px;
  border: solid 1px #000000;
  border-radius: 45px;
  text-align: center;
  font-size: medium;
  box-shadow: 2px 2px 0 #fdec91;
}
#minus {
  background-color: #d6eded;
  font-size: x-small;
  box-shadow: 0 3px 0 #35aeae inset;
}

/*  */
.tab_menu {
  background-color: #ffffff;
  z-index: 75;
  width: 100%;
  min-width: 375px;
  max-width: 430px;
  height: 70px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;

  position: fixed;
  bottom: 75px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.tab_menu .tab_home {
  /* background-color: #00000025; */
  width: 20%;
}
.tab_menu .tab_talk {
  /* background-color: #00000025; */
  width: 20%;
}
.tab_menu .tab_situation {
  /* background-color: #00000025; */
  width: 20%;
}
.tab_menu .tab_news {
  /* background-color: #00000025; */
  width: 20%;
}
.tab_menu .tab_other {
  /* background-color: #00000025; */
  width: 20%;
}
.tab_menu .tab_icon {
  /* background-color: #00000025; */
  height: 30px;
  margin: 15px 0 0 0;
}
.tab_menu p {
  /* background-color: #00000025; */
  font-size: 11px;
  font-weight: bold;
  margin: -5px auto 0 auto;
  text-align: center;
}

footer {
  background-color: #67d0d0;
  z-index: 50;
  width: 100%;
  min-width: 375px;
  max-width: 430px;
  height: 75px;

  position: fixed;
  bottom: 0;
}
